/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Poppins';
  box-sizing: border-box;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: visible; 
}
